node_modules/
.pnpm-store/

dist/
build/
.svelte-kit/
.output/

*.log
.DS_Store
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
infra/terraform/.terraform.lock.hcl

# Fly
.fly/

# Wrangler
.wrangler/

# Local dev data
data/
.data/
